<?xml version="1.0"?>
<monthly>


	<event>
		<id>1</id>
		<name>XML Events</name>
		<startdate>2021-5-2</startdate>
		<enddate>2016-5-3</enddate>
		<starttime>12:00</starttime>
		<endtime>2:00</endtime>
		<color>#ffb128</color>
		<url></url>
	</event>

	<event>
		<id>2</id>
		<name>Another Event</name>
		<startdate>2021-4-10</startdate>
		<enddate></enddate>
		<starttime></starttime>
		<endtime></endtime>
		<color>#28cbff</color>
		<url></url>
	</event>

	<event>
		<id>3</id>
		<name>Another Event</name>
		<startdate>2021-3-20</startdate>
		<enddate>2021-3-22</enddate>
		<starttime>9:00</starttime>
		<endtime>10:00</endtime>
		<color>#9cc370</color>
		<url></url>
	</event>

	<event>
		<id>4</id>
		<name>Another Event</name>
		<startdate>2021-2-20</startdate>
		<enddate></enddate>
		<starttime></starttime>
		<endtime></endtime>
		<color>#9f4b99</color>
		<url></url>
	</event>

	<event>
		<id>5</id>
		<name>Another Event</name>
		<startdate>2021-01-10</startdate>
		<enddate>2021-01-10</enddate>
		<starttime>9:00</starttime>
		<endtime>10:00</endtime>
		<color>#9cc370</color>
		<url></url>
	</event>

	<event>
		<id>6</id>
		<name>Another Event</name>
		<startdate>2021-01-5</startdate>
		<enddate>2021-01-7</enddate>
		<starttime></starttime>
		<endtime></endtime>
		<color>#9f4b99</color>
		<url></url>
	</event>


</monthly>
